@charset "utf-8";
header{text-align: center;
      margin-top: 1%;
      font-size:500%;
      color: black;
      background-color: white;
      padding: 3%;
      }
body{background-color: black;
     color: white;
     }
div{text-align: center;
    font-size: 150%;}
section{font-size: 250%;
        margin-top: 5%;
        margin-left: 10%;}
p{font-size: 70%;
  text-align: center;
  margin-top: 5%;}
p1{margin-left: 20%;}
h2{font-size: 150%;
   margin-left: 5%;}
section2{font-size: 150%;
   margin-left: 5%;}
